[submodule "src/godot-cpp"]
	path = src/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.5
[submodule "engine"]
	path = engine
	url = https://github.com/godotengine/godot.git
	branch = 4.5
[submodule "src/RoadTool/libuv"]
	path = src/RoadTool/libuv
	url = https://github.com/libuv/libuv.git
[submodule "game/addons/terrain_3d"]
	path = game/addons/terrain_3d
	url = https://github.com/TokisanGames/Terrain3D.git
[submodule "external/Terrain3D"]
	path = external/Terrain3D
	url = https://github.com/TokisanGames/Terrain3D.git
